<ion-header>
  <ion-toolbar>
    <ion-title>Weather App Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Dropdown for selecting basemap -->
  <ion-header collapse="condense">
  </ion-header>
  <ion-item>
    <ion-label>Select Basemap</ion-label>
    <ion-select (ionChange)="onBasemapChange($event)">
      <ion-select-option value="topo-vector">Topographic</ion-select-option>
      <ion-select-option value="streets-vector">Streets</ion-select-option>
      <ion-select-option value="satellite">Satellite</ion-select-option>
      <ion-select-option value="hybrid">Hybrid</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Map container -->
  <div id="container" style="width: 100%; height: 100%;"></div>
</ion-content>
