html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  text-align: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#map {
  height: 90%; /* Ensure the map takes up the full height */
  width: 100%; /* Ensure the map takes up the full width */
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
